@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap&subset=latin-ext');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-image: url("img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

table {
    margin: auto;
    background-color: rgb(89, 197, 0);
}

table,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

td img {
    width: 80%;
    height: auto;
}

div {
    font-size: 2em;
    padding: 0;
    width: 80px;
    height: 10vh;
    display: block;
    position: absolute;
    right: 50%;
    bottom: 85%;
}

#a {
    color: lime;
    font-family: 'Fjalla One', sans-serif;
}
